.card{
    background:rgba(255,255,255,0.05);

    /* backdrop-filter:blur(15px); */

    border:1px solid rgba(255,255,255,0.08);

    border-radius:20px;

    padding:25px;

    transition:.3s;

    box-shadow:
    0 8px 30px rgba(0,0,0,.3);
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    font-size:16px;
    color:#94A3B8;
}

.card p{
    margin-top:10px;
    font-size:28px;
    font-weight:bold;
}